@charset "UTF-8";
body{
overflow-x:hidden;
}
.fontM{
  font-family:'Headline R',arial,sans-serif;
}
.fontS{
  font-family:arial,sans-serif;
}
.fontKr{
  font-family: 'BatangChe','Gulim';
}
img{
  width:100%;
}
.mainText{
  line-height: 1.5rem;
}
ul{
  margin-block-start:0;
    margin-block-end:0;
    padding-inline-start:0;
}
li{
  list-style: none;
}
h3{}
/* 헤더 스타일 */
header{
  width:100%;
  height:50px;
}
h1{
  width:10rem;
  float:left;
  padding-left:2rem;
}
.gnb{
  background: #fffcc9;
  z-index:1000;
}
.nav{
    padding-top:0.3rem;
}
.nav>li{
  padding-left:6.56rem;
  line-height: 3.3rem;
}
h3.odd{
  text-align:left;
  padding-left:1rem;
}
h3.even{
  text-align:right;
  padding-right:1rem;
}
div.section{
  padding-left:1rem;
  padding-right:1rem;
}
/* my picture 섹션01 */
.mypic{
  /* max-width:948px; */
  padding-top:6.25rem;
  margin:0 auto;
}
.picBox{
  background: #fffcc9;
  height:420px;
  overflow: hidden;
}
.picBox>ul{
  height:200px;
  /* border:1px solid #ccc; */
}
.slides{
  top:0;
  left:0;
}
.slides.animated{
  transition: 0.5s ease-out;
}
.slidesDown{
  bottom:0;
  left:0;
}
.slidesDown.animated{
  transition: 0.5s ease-out;
}
.pic01{
  padding:0;
}
.picBox>ul>li{
  transition: 0.5s ease-in;
  width:150px;
}
.picBox>ul>li:hover>img{
  transition: 0.1s ease-in;
  width:130px;
  cursor: pointer;
  box-shadow: 11px 8px 35px #fbf589;
  padding:auto;

}

/* about Me 섹션02*/
.mainText{}
.about{
  padding-top:7rem;
  padding-bottom:5.19rem;
  position:relative;
}
.aboutBox{
  padding-left:6.25rem;
}
.me{
  width:20.63rem;
  height:20.63rem;
  background: #fffcc9;
}
.imgBox01{
  width:10rem;
  height:14rem;
  background: no-repeat 100% 100% url(../images/about/me01.png);
  background-size:cover;
}
.info{
  top:26%;
  left:25%;
}
.info>ol>li{
  list-style: inherit;
}
/* my Skill 섹션03*/
.mySkill{
  padding-top:6.25rem;
}
.skillBr{
  display: none;
}
.skillBox{}
.skillBox>div{
  padding-left:6.25rem;
}
.skillText>p{
  padding:3rem 5rem 3rem 0;
  text-align:right;
}
.skillText>p>strong{
  font-size:1.5rem;
}
.skillText{}
.skillIcon{}
.skillIcon>li{
  padding-left:1rem;
}

/* 섹션04 */
#ssaem{
  display:flex;
  padding-left:3rem;
  padding-bottom:6rem;
  transition: 0.5s ease-in;
  opacity:0;
}
#tetris{
  display: flex;
  transition: 0.5s ease-in;
  opacity:0;
}
#ssaem.opacity{
  transition: 0.5s ease-in;
  opacity:1;
}
#tetris.opacity{
  transition: 0.5s ease-in;
  opacity:1;
}
.portfolio{
  padding-top:6.25rem;
}
.porfolBox{
    position: relative;
}
#ssaem>dt{
  width:50%;
}
#tetris>dt{
  width:40%;
  padding-left:6rem;
}
#tetris>dt>img{
  border:1px solid #ccc;
}

#ssaem>dd{
  padding-top:6rem;
}
#tetris>dd{
  padding-top:5rem;
  padding-left:3rem;
}

.porfolBox>button{
  position:absolute;
  left:15rem;
  padding:10px 40px;
  border:none;
  background-color:#fffcc9;
  box-shadow: 11px 8px 35px #fbf589;
}
.porfolBox01>button{
  bottom:3rem;
}
.porfolBox02>button{
  bottom:-3rem;
}
.tetrisText{
  text-align: right;
  padding-top:50px;
}
.ssaemText{
  text-align: left;
  padding-top:50px;
}
.tetrisText>dt>img{
  border:1px solid #000;
}
/* contact 스타일 섹션 05 */
.contact{
padding-top:5rem;
}
.contactBg{
  display: flex;
  justify-content: center;
  background: no-repeat 0 0 url(../images/contact/bg.png);
  background-size:cover;
  padding:5rem 0 3rem;
}
.contactImg{
  width:40%;
}
.contactText{
  padding-left:10rem;
}
.contactText>li{
  padding-top:1rem;
}
